*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    background-color: rgb(220, 212, 212);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    
    width:20vh;
    height: 20vh;
    border-radius: 5px;
    box-shadow: 2px 5px;
}
.header{
    margin-top: 100px;
    width: 40%;
    display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header h1{
    padding-top: 25px;
    padding-bottom: 20px;
    font-weight: bold;
}
#grey{
   background-color: gray;
}
#green{
    background-color: rgb(32, 97, 32);
}
#pink{
    background-color: palevioletred;
}
#orange{
    background-color: orangered;
}
#blue{
    background-color: rgb(13, 13, 157);
}
#white{
    background-color: white;
} 
#red{
    background-color: rgb(231, 13, 13);
}
#yellow{
    background-color: rgb(163, 163, 12);
}
.header h2{
    padding-top: 20px;
    padding-bottom: 20px;
}
.header p{
    font-size: 20px;
}
   